---
// @ts-ignore
import { Icon } from "astro-icon/components";
import StepCard from "@/components/step.astro";

const steps = [
  {
    name: "Pertama",
    step: "Pilah-memilah",
    desc: "Sebelum kamu menjual sampah daur ulang, pastikan sampahnya sudah dipilah, ya!",
  },
  {
    name: "Kedua",
    step: "Unggah Sampah",
    desc: "Buka aplikasi kepul, foto dan isi informasi sampah daur ulang yang kamu jual.",
  },
  {
    name: "Ketiga",
    step: "Dijemput driver",
    desc: "Setelah kamu unggah di aplikasi Kepul, Driver kami siap menjemput dirumah.",
  },
  {
    name: "Keempat",
    step: "Peroleh Uangnya",
    desc: "Setelah proses transaksi berhasil, uang akan kami transfer ke rekening kamu.",
  },
];

const features = [
  {
    title: "Jual Sampah",
    description:
      "Jual sampah daur ulang (non-B3), daftarkan sampah anda dan dapatkan uang tunai dan jaga lingkungan.",
    icon: "bx:bxs-trash",
  },
  {
    title: "Sedekah Sampah",
    description:
      "Donasikan sampah daur ulang untuk sosial, sumbangkan sampah anda untuk program amal yang terpercaya.",
    icon: "bx:bxs-donate-heart",
  },
  {
    title: "Kepul Point",
    description:
      "Antar dan jual sampah daur ulang secara mandiri di Kepul Point terdekat anda.",
    icon: "bx:bxs-map",
  },
  {
    title: "Bisnis & Event",
    description:
      "Kelola dan atur penjemputan sampah daur ulang dari perusahaan atau acara anda melalui Kepul.",
    icon: "bx:bxs-calendar-event",
  },
  {
    title: "Sekolah Bebas Sampah",
    description:
      "Memberdayakan siswa sekolah untuk mendapatkan uang kas atau tabungan tambahan dengan sampah daur ulang.",
    icon: "bx:bxs-school",
  },
  {
    title: "Sembako Sampah",
    description:
      "Membantu masyarakat mendapatkan berbagai kebutuhan dengan harga lebih murah dengan potongan harga jual sampah daur ulang.",
    icon: "bx:bxs-store",
  },
];
---

<div class="mt-16 md:mt-0 pt-12">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Kenapa harus di Kepul.id?
  </h2>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

<div class="mt-16 md:mt-0 pt-12">
  <h2 class="text-4xl lg:text-4xl font-bold lg:tracking-tight">Jual Sampah Lebih Mudah!</h2>
  <p class="text-slate-500 mt-2 leading-relaxed">Hanya dengan empat langkah, kamu dapat meraih keuntungan menjual sampah daur ulang.</p>
</div>

<div
  class="grid md:grid-cols-4 gap-10 mx-auto mt-12">
  {steps.map((item) => <StepCard step={item} />)}
</div>