---
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
import kepulIntro from "@/assets/intro.mp4";
---

<main class="relative w-full min-h-[60vh]">
  <!-- Video Background -->
  <div class="absolute inset-0 w-full h-full">
    <video
      class="object-cover w-full h-full"
      autoplay
      loop
      muted
      playsinline>
      <source src={kepulIntro} type="video/mp4" />
    </video>
    <!-- Semi-transparent overlay -->
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>

  <!-- Content -->
  <div class="relative h-full flex items-center z-20">
    <div class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-24 md:py-24">
      <div class="grid lg:grid-cols-2 place-items-center gap-8">
        <div class="text-white order-2 lg:order-1">
          <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
            Jual Sampah Jadi Mudah
          </h1>
          <p class="text-lg mt-4 text-white/80 max-w-xl">
            Kami hadir untuk <b>mendaur ulang</b> limbah domestik (Non B3) untuk mewujudkan Indonesia yang lebih baik.
          </p>
          <div class="mt-6 flex flex-col sm:flex-row gap-3">
            <Link
              href="https://play.google.com/store/apps/details?id=app.kepul.id&hl=id"
              target="_blank"
              class="flex gap-1 items-center justify-center"
              rel="noopener">
              <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

              Download App
            </Link>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
