---
const icons = [
  {
    "url": "https://static.wikia.nocookie.net/logopedia/images/4/42/Narasi_%282018%29.svg",
    "alt": "Narasi"
  },
  {
    "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/IDN_Media.svg/800px-IDN_Media.svg.png",
    "alt": "IDN"
  },
  {
    "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Kompas.svg/800px-Kompas.svg.png",
    "alt": "Kompas"
  },
  {
    "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Jawa_Pos.png/800px-Jawa_Pos.png",
    "alt": "Jawa Pos"
  }
];
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Telah diliput oleh</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    {icons.map((icon) => (
      <img 
        src={icon.url} 
        alt={icon.alt}
        class="h-4 md:h-6 w-auto object-contain"
      />
    ))}
  </div>
</div>
